django==5.0.5
pyctr==0.7.5
Flask==3.0.3
Werkzeug==3.0.3
django-extensions==3.2.3
pyOpenSSL==24.1.0
django-admin-interface==0.28.6
django-colorfield==0.11.0
python-dateutil>=2.8.1
xmltodict==0.13.0
requests==2.31.0