{% extends "_layout.html" %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card bg-dark text-white shadow-lg">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">All Titles</h1>
                    <p class="text-center">There are currently {{ total_titles }} titles available.</p>
                    <form method="GET" action="{% url 'all_titles' %}" class="d-flex justify-content-center mb-4">
                        <div class="input-group">
                            <label for="sort" class="input-group-text">Sort by:</label>
                            <select name="sort" id="sort" class="form-select">
                                <option value="" {% if not request.GET.sort %} selected {% endif %}>Choose...</option>
                                <option value="name_asc" {% if request.GET.sort == "name_asc" %} selected {% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if request.GET.sort == "name_desc" %} selected {% endif %}>Name (Z-A)</option>
                                <option value="date_asc" {% if request.GET.sort == "date_asc" %} selected {% endif %}>Release Date (Oldest First)</option>
                                <option value="date_desc" {% if request.GET.sort == "date_desc" %} selected {% endif %}>Release Date (Newest First)</option>
                            </select>
                            <button type="submit" class="btn btn-primary">Sort</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-4">
        {% for title in titles %}
            <div class="col mb-4">
                <div class="card bg-dark h-100 text-white shadow">
                    <div class="position-relative">
                        <img src="{{ title.banner_url }}" class="card-img-top" alt="Title banner">
                        <div class="badge-region position-absolute bottom-0 end-0 m-3">
                            <div class="badge bg-success text-light p-2 rounded">
                                {{ title.region.initial }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ title.name }}</h5>
                        <p class="card-text">by {{ title.publisher.publisher_name }}</p>
                        <a href="/title/{{ title.id }}" class="btn btn-primary">View more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}